@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Isto é apenas uma página de apresentação, <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" style="color: Black;">não há nada aqui</a>, pode prosseguir para o campo de Contatos</p>
</div>
