@{
    ViewData["Title"] = "Será que é uma política de privacidade?";
}
<h1>@ViewData["Title"]</h1>

<p>O que esperava, uma págima de politica de privacidade? isso aqui é um site teste, <a href="https://www.youtube.com/watch?v=qLytFhIbeJ4" target="_blank" style="color: Black;">não há nada aqui</a>.</p>
